<app-header></app-header>
<div class="container ">
  <div class="row my-5">

    <div class="col-12 col-lg-6">
      <h3 class="text-primary text-center">Crear nueva Publicación o noticia</h3>

      <form action="" class="form-row row" [formGroup]="form_register">
        <div class="col-12 my-3">
          <label for="">Titulo de la publicación</label>
          <input class="form-control" type="text" name="" id="" placeholder="Ingrese el titlulo" formControlName="title">
        </div>
        <div class="col-12 my-3">
          <label for="">Descripción de la publicación</label>
          <textarea class="form-control" type="text" name="" id="" placeholder="Ingresa la descripción " formControlName="description"></textarea>
        </div>
      </form>

      <div class="col-12 text-center my-3">
        <button class="btn btn-primary" (click)="create()">Registar publicación</button>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="col-12">
        <h4 class="text-primary text-center ">Notificaciones y noticias </h4>
        <div class="col-12 card card-body mb-3" *ngFor="let item of items_notification">
          <h5> Title: {{item.title}}</h5>
          <p>Descripción: {{item.description}}</p>
        </div>
      </div>
    </div>

  </div>
</div>
