<app-header></app-header>

<div class="container">

  <div class="row my-5">

    <div class="col-12 col-lg-6">
      <h3 class="my-2">Reporte de enfermedades por Usuarios</h3>
      <h4 class="">Cantidad de usuarios censados</h4>
      <h5 class="my-2">{{cant_users}}</h5>
      <div class="col-12 card card-body mb-2" *ngFor="let item of items_enfermedades">
        <h6>{{item.enfermedad}}</h6>
        <h6>{{item.cant}}</h6>
      </div>
    </div>

    <div class="col-12 col-lg-6">
      <h3>Reporte de sintomas por Usuarios</h3>

      <div class="col-12 card card-body mb-2" *ngFor="let item of items_sintomas">
        <h6>{{item.sintoma}}</h6>
        <h6>{{item.cant}}</h6>
      </div>

    </div>

  </div>

</div>

